

body {
    background-color: rgb(20, 18, 18); /* Establecer el color de fondo a negro */
    
    /*width: 100%; /* Ancho completo del contenedor */
    /*height: 900px; /* Altura del contenedor (ajusta según sea necesario) */
    background-image: url('gato_pizzeria.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Establece el tamaño de la imagen de fondo para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen de fondo */
}

h1 {
    
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: rgb(0, 255, 255) 0px 1px 0px,
    rgb(181, 181, 181) 0px 2px 0px,
    rgb(172, 172, 172) 0px 3px 0px,
    rgb(160, 160, 160) 0px 4px 0px,
    rgb(145, 145, 145) 0px 5px 0px,
    rgb(127, 127, 127) 0px 6px 0px,
    rgba(0, 0, 0, 0.199219) 0px 7px 1px,
    rgba(0, 0, 0, 0.296875) 0px 8px 6px;
    
}


#img5 {
    width: 115px;
    height: 90px; /* Ajustar la altura de la imagen al 100% del contenedor */
    /*object-fit: cover;*/
}

section {
    display: flex;
    width: 1030px;
    height: 330px;
}

section img {
    width: 0%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8 ;
    transition: .5s;

}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter:contrast(120s);
}

#seccion {
    
    text-align: center;
    font-size: x-large;
   /* margin: 100px;
    width: 200px;*/
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: rgb(7, 219, 247) 0px 1px 0px,
    rgb(181, 181, 181) 0px 2px 0px,
    rgb(172, 172, 172) 0px 3px 0px,
    rgb(160, 160, 160) 0px 4px 0px,
    rgb(145, 145, 145) 0px 5px 0px,
    rgb(127, 127, 127) 0px 6px 0px,
    rgba(0, 0, 0, 0.199219) 0px 7px 1px,
    rgba(0, 0, 0, 0.296875) 0px 8px 6px;
}

#tabla1 {
    margin-right: 10px;
  
}

#tabla3 {
    margin-left: 10px;
}

#tabla4 {
    margin-left: 10px;
}

#tabla5 {
    margin-left: 10px;
}

#tabla6 {
    margin-left: 10px;
}

h2 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: rgb(245, 247, 247) 0px 1px 0px,
    rgb(181, 181, 181) 0px 2px 0px,
    rgb(172, 172, 172) 0px 3px 0px,
    rgb(160, 160, 160) 0px 4px 0px,
    rgb(145, 145, 145) 0px 5px 0px,
    rgb(127, 127, 127) 0px 6px 0px,
    rgba(0, 0, 0, 0.199219) 0px 7px 1px,
    rgba(0, 0, 0, 0.296875) 0px 8px 6px;
}
footer {
    width: 1020px;
    text-align: center;
    color: rgb(15, 11, 11);
    font-weight: bold;
    text-shadow: rgb(2, 252, 252) 0px 1px 0px,
    rgb(181, 181, 181) 0px 2px 0px,
    rgb(172, 172, 172) 0px 3px 0px,
    rgb(160, 160, 160) 0px 4px 0px,
    rgb(145, 145, 145) 0px 5px 0px,
    rgb(127, 127, 127) 0px 6px 0px,
    rgba(0, 0, 0, 0.199219) 0px 7px 1px,
    rgba(0, 0, 0, 0.296875) 0px 8px 6px;
}
#p-principal {
    width: 1030px;
    text-align: center;
    color: rgb(15, 11, 11);
    font-weight: bold;
    text-shadow: rgb(2, 252, 252) 0px 1px 0px,
    rgb(181, 181, 181) 0px 2px 0px,
    rgb(172, 172, 172) 0px 3px 0px,
    rgb(160, 160, 160) 0px 4px 0px,
    rgb(145, 145, 145) 0px 5px 0px,
    rgb(127, 127, 127) 0px 6px 0px,
    rgba(0, 0, 0, 0.199219) 0px 7px 1px,
    rgba(0, 0, 0, 0.296875) 0px 8px 6px;
    font-size: x-large;
}
@media  (min-width: 300px) and (max-width: 1068px) and (orientation: landscape) {
    .body #tabla1 #tabla3 #tabla4 #tabla5 #tabla6 #img5 #imgglobal #p-principal{
        width: 100%;
        
        background-color: blue;}}