body {
    background-color: #060707; 
  }
h1 {
    font-size: 50px;
}
h1 {
    font-style:  italic;
}

section {
    font-size: 15px;
}

link {
    font-size: inherit;
}
li {
    color: antiquewhite;
    font-size: 20px;
}